<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title%></title>
</head>
<body>
  <h1><%= title %></h1>
  <form method="POST" action="/new">
    <div class="form-row">
      <label for="message">Enter message:</label>
      <input type="text" id="message" name="message" required>
    </div>

    <div class="form-row">
      <label for="name">Name:</label>
      <input type="text" name="name" id="name" required>
    </div>
    <button type="submit">Submit</button>
  </form>
</body>
</html>